server:
  port: 9090
#  ssl:
#    key-store: classpath:tomact.keystore
#    key-store-password: 123456
#    key-store-type: JKS
#    key-alias: tomact
#    enabled: true
spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
#    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: jdbc:mysql://127.0.0.1:3306/vhr?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
#    username: root
#    password: root
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    url: jdbc:sqlserver://127.0.0.1:1433;database=vhr;Encrypt=False;
    username: sa
    password: q1w2e3r4t5...
  redis:
    database: 0
    host: 172.23.98.99
    port: 6379
    username:
    password: q1w2e3r4t5
#    lettuce:
#      pool:
#        enabled: true
#        max-active: 8
#        max-idle: 8
#        max-wait: -1ms
#        min-idle: 0
logging:
  level:
    org.springframework.jdbc.core.JdbcTemplate: DEBUG
    org.springframework.security: DEBUG
  name: 罗贯中
  author: 罗贯中
  price: 300
my:
  users:
    - name: 江南一点雨
      address: China