<!-- var pds_url = 'http://10.155.97.147:81';  -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>动态表单项</title>
    <!-- <link rel="stylesheet" type="text/css" href="css/table_scrollbar.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/scrollbar.css" /> -->
    <link
            rel="stylesheet"
            href="element/elementUIV2.14.0/theme-chalk/index.css"
    />
    <!-- <link rel="stylesheet" href="css/common.css" /> -->
    <!-- <link rel="stylesheet" href="css/icon/IOCommon/iconfont.css" /> -->
    <!-- <link rel="stylesheet" href="css/icon/IOFunction/iconfont.css" /> -->
    <!-- <link rel="stylesheet" href="css/mtree.css" /> -->
    <!-- <script type="text/javascript" src="js/jquery.min.js"></script> -->
    <script type="text/javascript" src="js/vue.min.js"></script>
    <!-- <script type="text/javascript" src="js/jquery.linq.js"></script> -->
    <!-- <script type="text/javascript" src="js/common.js"></script> -->
    <script src="element/elementUIV2.14.0/index.js"></script>
    <style>
        .operate-icon {
            font-size: 30px;
            vertical-align: middle;
            border-radius: 50%;
        }

        .operate-icon:hover {
            color: #409eff;
            /* background-color: #dfe7f4; */
        }
    </style>
</head>
<body>
<div id="app">
    <el-form
            :model="dynamicValidateForm"
            ref="dynamicValidateForm"
            label-width="100px"
            class="demo-dynamic"
    >
        <el-form-item
                prop="email"
                label="邮箱"
                :rules="[
            { required: true, message: '请输入邮箱地址', trigger: 'blur' },
            { type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] }
          ]"
        >
            <el-input v-model="dynamicValidateForm.email"></el-input>
        </el-form-item>
        <el-form-item
                v-for="(domain, index) in dynamicValidateForm.domains"
                :label="'域名' + index"
                :key="domain.key"
                :prop="'domains.' + index + '.value'"
                :rules="{
            required: true, message: '域名不能为空', trigger: 'blur'
          }"
        >
            <div>
                <el-input v-model="domain.value" style="width: 80%"></el-input>
                <i
                        class="el-icon-remove-outline operate-icon"
                        @click.prevent="removeDomain(domain)"
                ></i>
                <!-- <el-button @click.prevent="removeDomain(domain)">删除</el-button> -->
            </div>
        </el-form-item>
        <div style="text-align: center">
            <i
                    class="el-icon-circle-plus-outline operate-icon"
                    @click.prevent="addDomain()"
            ></i>
        </div>
        <el-form-item>
            <el-button type="primary" @click="submitForm('dynamicValidateForm')"
            >提交
            </el-button
            >
            <el-button @click="addDomain">新增域名</el-button>
            <el-button @click="resetForm('dynamicValidateForm')">重置</el-button>
            <el-button @click="login">login</el-button>
        </el-form-item>
    </el-form>
</div>
<script>
    var Main = {
        data() {
            return {
                dynamicValidateForm: {
                    domains: [
                        {
                            value: "",
                        },
                    ],
                    email: "",
                },
            };
        },
        methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        alert("submit!");
                    } else {
                        console.log("error submit!!");
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            removeDomain(item) {
                var index = this.dynamicValidateForm.domains.indexOf(item);
                if (index !== -1) {
                    this.dynamicValidateForm.domains.splice(index, 1);
                }
            },
            addDomain() {
                this.dynamicValidateForm.domains.push({
                    value: "",
                    key: Date.now(),
                });
            },
            login() {
                var xhr = new XMLHttpRequest()
                xhr.open('POST', 'http://127.0.0.1:9090/login', true)
                xhr.setRequestHeader('Content-Type', 'application/json')
                xhr.send(JSON.stringify({
                    username: 'root',
                    password: '123'
                }));
            }
        },
    };
    var Ctor = Vue.extend(Main);
    new Ctor().$mount("#app");
</script>
</body>
</html>
